body, html{
	width: 100%;
}

html{
	background: url(../img/tv_noise.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.nav{
	position: fixed;
	padding: 20px;
	font-size: 12px;
	font-family:'ITCFranklinGothicW01-Bk 812647';
	text-transform: uppercase;
	z-index: 100
}

#tr{
	right: 0;
}

#br{
	right:0;
	bottom: 0;
}

#bl{
	bottom: 0;
}


ul {	
	position: relative;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
}
li {
    position: relative;
    z-index: 2;
    -webkit-transform: translateZ(0px);
       -moz-transform: translateZ(0px);
        -ms-transform: translateZ(0px);
         -o-transform: translateZ(0px);
            transform: translateZ(0px);
	text-align: center;
	background-color: white;
}

.table{
	width: 100%;
	position: absolute;
	display: table;
}

.table_cell{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.title{
	line-height: 75%;
	display: block;
	text-transform: uppercase;
	font-family:'ITCFranklinGothicW01-Hv 812689';
	letter-spacing: -6px;
	word-spacing: -15px;
	/* -webkit-font-smoothing: none; */
}

.caption{
	font-family:'ITCFranklinGothicW01-Bk 812647';
	font-size: 14px;
	line-height: 14px;
	padding: 30px 15% 0 15%;
	text-rendering: optimizeLegibility;
	color: #999999;
	text-transform: uppercase;	
}
.caption a{
	color: #999999;
	text-decoration: none;
	
}
#moma{
	text-transform: lowercase;
}
#hello, #goodbye{
	background-color: black;
	color: white !important
}
.title2{font-size: 36px;}
.title a{
	text-decoration: none;
	color: black;
}
.title a:hover{
	color: black
}
#test{
position: absolute;
z-index: 10000;
}